terraform/.terraform
terraform/.terraform.lock.hcl
terraform/secret.*
terraform/*.backup
terraform/*.tfstate
terrfaform/*.tfstate.*
terraform/certificate.*
terraform/output.json

vault.password
ssh-key.pub
