domain = "{{ vault_domain }}"
public_ssh_key_path = "{{ vault_public_ssh_key_path }}"

yc_token = "{{ vault_yc_token}}"
yc_folder_id = "{{ vault_yc_folder_id }}"
yc_cloud_id = "{{ vault_yc_cloud_id }}"
yc_compute_default_zone = "{{ vault_yc_compute_default_zone }}"
yc_vm_user = "{{ vault_yc_vm_user }}"
yc_ssh_key = "{{ vault_yc_ssh_key }}"

db_name = "{{ vault_db_name }}"
db_password = "{{ vault_db_password }}"
db_user = "{{ vault_db_user }}"

dd_api_key = "{{ vault_dd_api_key }}"
dd_app_key =  "{{ vault_dd_app_key }}"

tc_token = "{{ vault_tc_token }}"

cert = <<EOT
{{ vault_cert }}
EOT

cert_private_key = <<EOT
{{ vault_cert_private_key }}
EOT
